<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="../../public/css/">
      <title>MVC Homework with Burgers!</title>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="../../public/js/burgerS.js"></script>
  </head>
  <body>
      {{{body}}}
  </body>
</html>