<h1>Burger Meister!</h1>
<!--Displays burgers that are not devoured-->
<h2 class="uneaten">Uneaten Burgers!</h2>
<ul class="uneaten">
  {{#each burgers}}
      {{#unless devoured}}
          {{>burgers/burger-block devoured=true}}
      {{/unless}}
  {{/each}}
</ul>
<!--Displays burgers already devoured-->
<h2 class="eaten">Eaten Burgers</h2>
<ul class="eaten">
  {{#each burgers}}
      {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
      {{/if}}
  {{/each}}
</ul>
<!--Form to add burger to sql/page-->
<h2 class="create-form">Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
      <label for="burg">Burger Name:</label>
      <textarea type="text" id="burg" rows="5" name="burger_name"></textarea>
  </div>
  <button type="submit">Add Burger</button>
</form>