<div class="container">
  <h1 class="appTitle">Burger Meister!</h1>
  <!--Displays burgers that are not devoured-->
  <div class="uneaten">
    <h2>Uneaten Burgers!</h2>
    <ul>
      {{#each burgers}}
          {{#unless devoured}}
              {{> burgers/burger-block devoured=true}}
          {{/unless}}
      {{/each}}
    </ul>
  </div>
  <!--Displays burgers already devoured-->
  <div class="eaten">
    <h2>Eaten Burgers</h2>
    <ul>
      {{#each burgers}}
          {{#if devoured}}
              {{> burgers/burger-block devoured=false}}
          {{/if}}
      {{/each}}
    </ul>
  </div>
  <!--Form to add burger to sql/page-->
  <div class="burgerForm">
    <h2>Add a Burger</h2>
    <form class="create-form">
      <div class="form-group">
          <label for="burg">Burger Name:</label>
          <textarea type="text" id="burg" rows="5" name="burger_name"></textarea>
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>
</div>