.container {
    text-align: center;
}
body {
    background-image: url("https://c8.alamy.com/comp/CR1621/berlin-germany-burgermeister-a-popular-imbiss-serving-burgers-from-CR1621.jpg")
}
.uneaten {
    color: white;
    background-color: rgb(1,53,31);
    margin: 1%;
    padding: 1%;
    border: 2px white solid;
}
.eaten {
    color: white;
    background-color:rgb(1,53,31);
    margin: 1%;
    padding: 1%;
    border: 2px white solid;
}
.burgerForm, .create-form {
    color: white;
    background-color: rgb(1,53,31);
    margin: 1%;
    padding: 1%;
}
.burgerForm {
    border: 2px white solid;
}
img {
    border: 2px white solid;
}
textarea {
    resize: none;
    color: white;
    background-color: rgb(188,120,39)
}
button {
    color: white;
    background-color: rgb(188,120,39)
}